<!DOCTYPE html>

<html>
    <head>
      <title>UserStack</title>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <meta name="_xsrf" content="{{.xsrf_token}}" />
      <!-- bower:css -->
      <link rel="stylesheet" href="../../static/bower_components/bootstrap/dist/css/bootstrap.css" />
      <!-- endbower -->
      <link rel="stylesheet" href="/static/css/app.css" />
  </head>
    <body class="{{.context.ControllerName}} {{.context.ActionName}}">
      {{if .flash.error}}
        <div class="alert alert-danger">{{.flash.error}}</div>
      {{end}}
      {{if .loggedIn}}
      <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">UserStack</a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li {{if .context.Is "HomeController.Get" }}class="active"{{end}}><a href="{{urlfor "HomeController.Get"}}">Home</a></li>
              {{if .permissions.Users}}
              <li {{if .context.Is "UsersController.Get" }}class="active"{{end}}><a href="{{urlfor "UsersController.Get"}}">Users</a></li>
              {{end}}
              {{if .permissions.Groups}}
              <li {{if .context.Is "GroupsController.Get" }}class="active"{{end}}><a href="{{urlfor "GroupsController.Get"}}">Groups</a></li>
              {{end}}
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li {{if .context.Is "ProfileController.Get" }}class="active"{{end}}><a href="{{urlfor "ProfileController.Get"}}">Profile</a></li>
              <li><a href="{{urlfor "SessionsController.Destroy"}}">Sign Out</a></li>
            </ul>
          </div>
        </div>
      </nav>
      {{end}}
      {{.LayoutContent}}
      <!-- bower:js -->
      <script src="../../static/bower_components/jquery/dist/jquery.js"></script>
      <script src="../../static/bower_components/bootstrap/dist/js/bootstrap.js"></script>
      <!-- endbower -->
    </body>
</html>
