$icon-font-path: '/static/bower_components/bootstrap-sass/fonts/';
$brand-primary: #813abd;

@import "bootstrap";

.navbar-brand {
  background: url('/static/images/logo48.png') no-repeat;
  margin-top: 2px;
  width: 48px;
  height: 48px;
  margin-left: 10px !important;
}

.navbar-header {
  margin-right: 20px !important;
}

@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
  .navbar-brand {
    background-image: url('/static/images/logo96.png');
    -webkit-background-size: 48px 48px;
  }
}

.sessions.new,
.registrations.new {
  form {
    margin-top: 10%;
  }
}

.list-group-item-success {
  @include alert-variant($alert-success-bg, $alert-success-border, $alert-success-text);
}

.list-group-item-warning {
  @include alert-variant($alert-warning-bg, $alert-warning-border, $alert-warning-text);
}

.list-group-item-danger {
  @include alert-variant($alert-danger-bg, $alert-danger-border, $alert-danger-text);
}
