<div class="container">
  <div class="row">
    <div class="col-md-12">
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
        </thead>
        <tbody>
        {{range $key, $val := .users}}
          <tr>
            <td>{{$val.Id}}</td>
            <td>{{$val.Name}}</td>
          </tr>
        {{end}}
        </tbody>
      </table>
      <ul class="pagination">
        <li><a href="#">&laquo;</a></li>
        <li><a href="#">1</a></li>
        <li class="active"><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>
      </ul>
    </div>
  </div>
</div>
