<div class="container">
  <div class="row">
    <div class="col-md-12 table-responsive">
      <table class="table table-condensed">
        <col style="width: 8.3333%">
        <col style="width:91.6667%">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>
        {{range $key, $val := .users}}
          <tr>
            <td>{{$val.Uid}}</td>
            <td>{{$val.Email}}</td>
          </tr>
        {{end}}
        </tbody>
      </table>
      {{template "shared/paginator.tpl.html" .}}
    </div>
  </div>
</div>
