<div class="container">
  <div class="row">
    <div class="col-md-12">
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
        </thead>
        <tbody>
        {{range $key, $val := .users}}
          <tr>
            <td>{{$val.Id}}</td>
            <td>{{$val.Name}}</td>
          </tr>
        {{end}}
        </tbody>
      </table>
      {{if gt .paginator.PageNums 1}}
      <ul class="pagination pagination">
          {{if .paginator.HasPrev}}
              <li><a href="{{.paginator.PageLinkFirst}}">{{ i18n .Lang "paginator.first_page"}}</a></li>
              <li><a href="{{.paginator.PageLinkPrev}}">&laquo;</a></li>
          {{else}}
              <li class="disabled"><a>{{ i18n .Lang "paginator.first_page"}}</a></li>
              <li class="disabled"><a>&laquo;</a></li>
          {{end}}
          {{range $index, $page := .paginator.Pages}}
              <li{{if $.paginator.IsActive .}} class="active"{{end}}>
                  <a href="{{$.paginator.PageLink $page}}">{{$page}}</a>
              </li>
          {{end}}
          {{if .paginator.HasNext}}
              <li><a href="{{.paginator.PageLinkNext}}">&raquo;</a></li>
              <li><a href="{{.paginator.PageLinkLast}}">{{ i18n .Lang "paginator.last_page"}}</a></li>
          {{else}}
              <li class="disabled"><a>&raquo;</a></li>
              <li class="disabled"><a>{{ i18n .Lang "paginator.last_page"}}</a></li>
          {{end}}
      </ul>
      {{end}}
    </div>
  </div>
</div>
